*{
    margin: 0;
}

body{
    display: flex;
    background-color: whitesmoke;
}
/* NAV*/
nav{
    display: flex;
    flex-direction: column;
    background-color: rgb(227, 227, 227);
    width: 30vw;
    max-height: 100%;
}
h2 {
    margin-left: 35px;
    font-family: Apple Chancery, cursive;
    color: rgb(27, 126, 201);
}
.logo{
    width: 10vw;
    height: 20vh;
    margin: 10px;
}

.paragrapheNav{
    margin: 10px;
    font-family: Apple Chancery, cursive;
    color: rgb(27, 126, 201);
}
/*  Fin NAV*/

/*  HEADER*/
header{
    background-color: rgb(227, 227, 227);
    width: 85vw;
    min-height: 15vh;
}

h1{
    margin: 25px;
    font-size: 400%;
    font-family: Apple Chancery, cursive;
    color: rgb(27, 126, 201);
    text-align: center;
}

/* FIN HEADER*/

/* ARTICLE*/
article{
    margin: 30px;
    background-color: rgb(227, 227, 227);
    min-height: 50vh;
    display: flex;
    justify-content: space-around;
}
.article1{
    background-color: rgb(27, 126, 201);;
}
.article2{
    background-color: rgb(27, 126, 201);;
}
.article3{
    background-color: rgb(27, 126, 201);;
}

.image1{
    width: 80%; 
    margin: 15px;
}

.image2{
    width: 90%;
    margin: 15px;
}

.image3{
    width: 90%;
    margin: 15px;
}

/* FIN ARTICLE*/

/* FOOTER*/
footer{
    background-color: rgb(227, 227, 227);
    width: 85vw;
    min-height: 20vh;
}

h3{
    color: rgb(16, 129, 216);
}

/* FIN FOOTER*/


div.b{
    display:flex;
    flex-wrap: wrap;
    width: 100vw;
}

div.c{
    display: flex;
}
.peche{
    width: 50vw;
}


/* RESPONSIVE DESIGN*/
@media screen and (max-width: 700px){
    .c{
        display: flex;
        flex-direction: column;
    }
}

@media all and (max-device-width: 480px){
    nav{
        display: none;
    }

    header{
        width: 100vw;
        min-height: 10vh;
    }

    footer{
        width: 100vw;
        min-height: 10vh;
    }
}
/* FIN RESPONSIVE DESIGN*/